<div class="fishbox span8 offset3 text-center">


	<h1 class="custom-h1">Hi I'm Marco</h1>

	<br/>

	<h2>This is my web development journey</h2>


	<br/>

	<!-- Ruby Code -->
	<%= link_to 'Launch', '#', :class => 'btn-large btn btn-warning' %>

</div>