<% @pics.each do |pic| %>
	<div class="fishbox  span4 text-center">
		<h1 class="custom-h1">
			Lesson: <%= pic.lesson %>
		</h1>
			<br/>
		<h2>
			<br/>
			Emotion: <%= pic.emotion %>
			<br/>
			Learned: <%= pic.learned %>
		</h2>
	</div>
<% end %>


